<h1>Key#create</h1>
<p>Find me in app/views/key/create.html.erb</p>

<span>Public key: </span><%=@app_data.public_key%><br>
<span>Private key: </span><%=@app_data.private_key%><br>
<span>auth code: </span><%=@auth_code%>

